body {
	font-family: 'Inter', sans-serif;
	color: white;
	background-color: #101010;
	margin: 10px;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
}

.container {
	margin: 0 auto;
	margin-top: 6em;
	max-width: 571px;
}

h1 {
	font-weight: bold;
	font-size: 38px;
}

.skills {
	margin-bottom: 2.5rem;
}

.logo {
	height: 56px;
	width: 56px;
	margin-bottom: 76px;
	line-height: 72px;
	font-size: 59px;
}

.company {
	font-weight: bold;
}

.uchi {
	color: #ff6272;
}
.sber {
	color: rgb(8, 166, 82);
}

.date {
	color: white;
	opacity: .3;
}

li {
	color: rgba(255, 255, 255)
}