body {
	font-family: 'Inter', sans-serif;
	color: white;
	background-color: #101010;
	margin: 10px;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
}

.container {
	margin: 0 auto;
	margin-top: 6em;
	max-width: 571px;
}

h1 {
	font-weight: bold;
	font-size: 38px;
}

.skills {
	margin-bottom: 2.5rem;
}

.experience {

}

.logo {
	height: 56px;
	width: 56px;
	margin-bottom: 76px;
	line-height: 72px;
	font-size: 59px;
}

span {
	font-weight: bold;
}

.uchi {
	color: rgb(211, 126, 219);
}
.sber {
	color:rgb(73 164 62);
}